#gallery {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#gallery li {
    margin-bottom: 20px;
    flex-basis: 30vw;
}

#gallery img {
    width: 100%;
    height: 100%;
}

#validation-input {
    border: 3px solid #bdbdbd;
    outline: none;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}

.box {
    margin-right: 5px;
}